// bower:scss
// endbower

a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }
}

h2 {
  text-align: center ;
}

/* Fixed header with logo, search, and navigation menu tabs */
header {
  position: absolute;
  top: 0;
  border-bottom: 1px lightgray solid;
  width: 100%;

  /* Very top of header, which contains the logo */
  .top {
    text-align: center;
    margin: 20px auto;
    height: 30px;
  }

  .lang {
    text-align: right;
    margin-right: 75px;
  }
}

/* Navigation menu with tabs */
nav {
  margin-left: 75px;
  font-size: 15px;

  .tab {
    margin-right: -4px;
    display: inline-block;
    padding: 5px;

    &:hover {
      background-color: #1c94c4;
    }
  }

  .nav-right {
    display: block;
    float: right;
    margin-right: 75px;
  }

  .active {
    border-bottom: 2px solid black;
    color: #1c94c4;
  }
}

/* Container for the dynamically populated body */
.container {
  margin-top: 150px;
  width: 100%;

  /* Ensures dynamic content is consistently placed */
  .slide {
    position: absolute;
    height: 68%;
    width: 100%;
    overflow: hidden;

    .content-top {
      border-radius: 8px;

      div {
        text-align: center;
        padding: 10px 30px;
      }
    }

    .content-main {
      background-color: rgba(111, 173, 221, 0.18);

      div {
        padding: 5px 30px;
      }
    }

    .content-main, .content-main div {
      height: 70%;
    }
  }
}

/* Styles below are for the specific pages of content */
#slide1 .content-top {
  background-color: #b66e29;
}

#slide2 .content-top {
  background-color: #39b660;
}

#slide3 .content-top {
  background-color: #b6606b;
}

.content-top, .content-top div {
  height: 30%;
}

.panel {
  box-sizing: border-box;
  margin-right: -4px;
  display: inline-block;

}

.panel-left, .panel-right {
  width: 20%;
}

.panel-center-left, .panel-center-right {
  width: 30%;
}

.content-main .panel-left, .content-main .panel-center-left, .content-main .panel-center-right {
  border-right: 2px dotted lightgray;
  height: 100%;
}

/* Footer absolutely positioned at bottom of page */
footer {
  font-size: 12px;
  text-align: center;
  margin: 5px auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  line-height: 2;
}

.property {
  text-align: center;
  margin: auto;

  .title {
    font-weight: bold;
  }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
