// bower:scss
// endbower

@import "partials/sizes.scss";
@import "partials/colors.scss";
@import "partials/mixins.scss";
@import "partials/_form-dialog.scss";
@import "property_index.scss";
@import "user-index.scss";
@import "contact_us.scss";
@import "admin.scss";

//prevents page from jumping to the right
html {
  overflow-y: scroll;
}

body {
  color: $light-grey;
}

a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  text-align: center ;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

h4 {
  font-size: 16px;
  font-weight: normal;
}

.border-bottom {
  border-width: 0 0 1px 0;
  @include fading-border();
}

.border-top {
  border-width: 1px 0 0 0;
  @include fading-border();
}

.bold {
  font-weight: bold;
}

.auth, .hidden {
  visibility: hidden;
}


/* Fixed header with logo, search, and navigation menu tabs */
header {
  position: absolute;
  top: -8px;
  width: 100%;
  height: $header-height;
  margin: 0 auto;

  /* Very top of header, which contains the logo */
  .top {
    text-align: center;
    height: $top-height;
    background-image: url('../../app/images/header-image.png');
    img {
      position: relative;
      right: $page-width / 2 + 7px;
      top: ($top-height - $logo-height) / 2;
    }

  }

  .nav-content {
    border-width: 0 0 1px 0;
    @include fading-border();
  }
}

/* Navigation menu with tabs */
nav {
  font-size: 15px;
  height: 43px;
  text-align: center;

  #nav-tabs {
    list-style: none;
  }

  .tab {
    margin-right: -4px;
    display: inline-block;
    padding: 20px 15px 5px 15px;


    &:hover {
      //background-color: #1c94c4;
    }
  }

  #nav-tabs {
    margin: 0 auto;
    //padding-bottom: 5px;
    position: relative;

    li {
      //border: 1px solid pink;
      margin-bottom: 1px;
    }
  }

  #magic-line {
    position: absolute;
    background: red;
    //margin-bottom: 5px;
    border-top: 1px solid black;
    //height: 10px;
    //list-style: none;
  }

//  .nav-right {
//    display: block;
//    float: right;
//    margin-right: 75px;
//  }

  .active {
//    border-bottom: 2px solid $black;
//    color: #1c94c4;
  }
}

/* Container for the dynamically populated body */
.container {
  //margin-top: 150px;
  width: $page-width;
  margin: 0 auto;

  .main-content {
    //fixes weird off-center issue
    padding-left: 7px;
  }

  /* Ensures dynamic content is consistently placed */
  .slide-page {
    position: absolute;
    //height: 68%;
    width: $page-width;
    overflow: hidden;
    margin: $header-height auto 0 auto;
    text-align: center;

    .content-top {
      border-radius: 8px;

      div {
        text-align: center;
        padding: 10px 30px;
      }
    }


    .content-main {
      //background-color: rgba(111, 173, 221, 0.18);
      padding: 15px 144px;

      .content {
        text-align: left;
      }

//      .contact {
//        h2, h3, ul {
//          text-align: left;
//          margin-left: 50px;
//        }
////left        h3, ul {
////          text-align: center;
////          //margin-left: 30px;
////        }
//        ul {
//          list-style: none;
//          padding-left: 0;
//          a {
//            text-decoration: underline;
//          }
//          li {
//            line-height: 1.5;
//          }
//        }
//      }
    }

  }
}

.hero-unit {
  //margin-top: $header-height;
  height: 130px;
//  border-width: 0 0 1px 0;
//  @include fading-border();
  //@include vertical-align();
  .hero-body {
    //@include vertical-align();
    h3 {
      text-align: left;
    }
    div {
      padding: 15px 144px;

      text-align: left;
    }
  }
}

.middle {
  height: 130px;
  width: 100%;
  border-width: 0 0 1px 0;

  @include fading-border();
  .left, .right {
    box-sizing: border-box;
    padding: 0 50px;
    width: 50%;
    float: left;
  }
}

.carousel {
  margin: 15px 144px 0 144px;
  .blueimp-gallery-carousel {
    display: block;
    //@include vertical-align;
    width: 100%;
    height: 120px;

    padding-bottom: 20%;
    div .slides {

      .slide {

      }
    }
  }


  #links {
    @include vertical-align;
  }
}

.below-carousel {
  //width: 80%;
  padding: 10px 144px 0 144px;
  div, h3 {
    padding-bottom: 10px;
    text-align: left;
  }

  ol {
    counter-reset: item;
    text-align: left;
  }
  ol li {
    list-style: none;
  }
  ol li:before {
    content: "(" counter(item) ") ";
    counter-increment: item;
  }
}

///* Styles below are for the specific pages of content */
//#slide1 .content-top {
//  background-color: #b66e29;
//}
//
//#slide2 .content-top {
//  background-color: #39b660;
//}
//
//#slide3 .content-top {
//  background-color: #b6606b;
//}
//
//.content-top, .content-top div {
//  height: 30%;
//}
//
//.panel {
//  box-sizing: border-box;
//  margin-right: -4px;
//  display: inline-block;
//
//}
//
//.panel-left, .panel-right {
//  width: 20%;
//}
//
//.panel-center-left, .panel-center-right {
//  width: 30%;
//}
//
//.content-main .panel-left, .content-main .panel-center-left, .content-main .panel-center-right {
//  border-right: 2px dotted lightgray;
//  height: 100%;
//}

/* Footer absolutely positioned at bottom of page */
footer {
  font-size: 12px;
  text-align: center;


  margin: 5px auto;
  width: $page-width;
  line-height: 2;


  & > div {
    vertical-align: middle;
    text-align: center;
    //border-width: 1px 0 0 0;
    width: 100%;
    //@include fading-border;

  }
}

//.property {
//  text-align: center;
//  margin: auto;
//
//  .title {
//    font-weight: bold;
//  }
//}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
