<div class="slide-page" id="slideg">

       <div class="content-main">
            <div class="contact border-bottom">
                <h2>Principal/Commercial Broker</h2>

                <h3>Naomi Shu</h3>
                <ul>
                    <li>195 Plymouth Street</li>
                    <li>Floor 5, Unite 4</li>
                    <li>Brooklyn, NY 11201</li>
                    <li>Dir: (718) 215-0882</li>
                    <li>Cel: (646) 525-0966</li>
                    <li>Fax: (917) 210-3350</li>
                    <li><a href="mailto:naomi.shu@nsreinc.com">naomi.shu@nsreinc.com</a></li>
                </ul>
            </div>

            <div class="contact border-bottom">

                    <h2>Residential Sales Division</h2>

                    <h3>Marshall Zhou</h3>
                    <ul>
                        <li>Dir: (929) 256-0963</li>
                        <li><a href="mailto:marshall.zhou@nsreinc.com">marshall.zhou@nsreinc.com</a></li>
                    </ul>


            </div>

           <div class="login">

           </div>

            <div class="contact border-bottom">
                <h2>Leasing Division</h2>

                <h3>Ryan Lyde</h3>
                <ul>
                    <li>Dir: (646) 922-9881</li>
                    <li><a href="mailto:ryan.lyde@nsreinc.com">ryan.lyde@nsreinc.com</a></li>
                </ul>
            </div>

            <div class="content">
                For other inquires please contact <a href="mailto:info@nsreinc.com">info@nsreinc.com</a>
            </div>

        </div>

        <div id="dialog-form" title="Log In">
            <p class="validate-tips">All form fields are required.</p>
            <form>
                <fieldset>
                    <div>
                        <label for="email">Email: </label>
                        <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all">
                    </div>
                    <div>
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all">
                    </div>
                    <div>
                        <input type="submit" tabindex="-1">
                    </div>
                </fieldset>
            </form>

        </div>

</div>