<div class="slide" id="slide4">
<div class = "content-top">
<div class="panel panel-left">Some stuff here</div>
<div class="panel panel-center-left">Some stuff here</div>
<div class="panel panel-center-right">Some stuff here</div>
<div class="panel panel-right">Some stuff here</div>
</div>
<div class="content-main">
<div class="panel panel-left">Some stuff here</div>
<div class="panel panel-center-left">Some stuff here</div>
<div class="panel panel-center-right">Some stuff here</div>
<div class="panel panel-right">Some stuff here</div>
</div>
</div>;